################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Preprocessor/Preprocessor/Debug
/Preprocessor/Preprocessor/Preprocessor/Debug
/Preprocessor/Preprocessor/.vs/Preprocessor/v15
