################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Preprocessor/Preprocessor/Debug
/Preprocessor/Preprocessor/Preprocessor/Debug
/Preprocessor/Preprocessor/.vs/Preprocessor/v15
/AvgWord/.vs/AvgWord/v15/ipch/AutoPCH
/AvgWord/.vs/AvgWord/v15
/AvgWord/Debug
/AvgWord/AvgWord/Debug
